{% extends "blog/base.html" %}
{% block content %}
    <h1 class="mb-3" style="font-family: Roboto, sans-serif; font-size: 18px; ; ">Posts by <span style="color: blueviolet;">{{ view.kwargs.username }} </span>({{ page_obj.paginator.count }}) </h1>
    
    {% for post in posts %}
        <!-- <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title"  href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
            
          </div>
        </article> -->
        <article style="padding: 10px 0px;">
          <h2 class="h2-blog-title">{{ post.title }}</h2>
          <p class="meta" style="font-family: Roboto, sans-serif;font-size: 13px; padding: 10px 0px;">
            <span><i class="fa fa-clock" style="color:#664E9E"></i></span> Posted on {{post.date_posted | date:"F d,Y" }} by 
            <span><i class="fa fa-user" style="color: #664E9E"></i></span> <a href="#">{{ post.author }}</a></p>
          <img src="{{ post.image.url }}">
          <p class="p-content p-content-overflow">{{ post.content }}</p>
          <a href="{% url 'post-detail' post.pk %}" style="color: #664E9E !important;
          border: 1px solid #664E9E;
          padding: 5px;
          font-family: Roboto, sans-serif;font-size: 13px;text-decoration: none;" class="read-more">Read more</a>
        </article>
    {% endfor %}
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
{% endblock content %}